@import "./variables.scss";
@import "./global.scss";

$zindex: 99999;

.material-icons {
  color: $gray-e;
  font-size: 3.2rem !important;
}

.mymap,
.leatlef-map {
  height: 550px;
  position: relative;
}

.crime-card,
.mymap {
  margin: 0px 10px 4rem;
  @media ($desktop-size) {
    margin: 20px 20px 0px;
  }
}

.margin-bottom {
  @media ($desktop-size) {
    margin-bottom: 20px;
  }
}

.mymap {
  margin-top: 20px;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ant-modal-root {
  position: absolute;
  z-index: $zindex + 1;
}

.dropdown-overlay,
.filters {
  z-index: $zindex;
}

.filters {
  top: 0;
  position: sticky;

  @media ($desktop-size) {
    box-shadow: $box-shadow;
  }
}

.crime-filter-container {
  padding: 5px 20px 10px;
  background-color: white;
}

.crime-kpi-container {
  .crime-kpi-itens {
    flex-wrap: wrap;

    table {
      width: 100%;
      border-collapse: separate;

      .td-data-left {
        text-align: right;
      }

      thead {
        tr {
          font-weight: bolder;
          font-size: 1.2rem;
          letter-spacing: 1px;
          color: #657798;
        }
      }

      tbody {
        td {
          margin-bottom: 1px solid red;
        }

        .td-icon {
          text-align: center;
        }

        .td-data {
          font-weight: 600;
          font-size: 1rem;
          color: $gray-dark;
        }
      }
    }
  }
}

.crime-datacircle {
  width: 45%;
  height: 115px;
  margin: 6px 0;

  background: #ffffff;
  border-radius: 32px;
  box-shadow: $box-shadow;

  @media ($desktop-size) {
    width: 300px;
  }

  .crime-datacircle-value {
    font-size: 1.4rem;
    margin-bottom: 8px;
    font-weight: bolder;
  }

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $font-color;
  }

  @media ($desktop-size) {
    box-shadow: none;
    border-radius: 8px;
    width: 23%;
    border: 1px solid $gray-color;
  }
}

.crime-content-data {
  padding: 1rem;
}

.crime-day-period {
  flex-wrap: wrap;

  @media ($desktop-size) {
    .crime-bydaytime {
      min-width: 300px;
      // border-bottom: 1px solid red;
      // &:last-child {
      //   border-bottom: 1px solid transparent;
      // }
    }
  }
}

.crime-bydaytime {
  width: 50%;
  margin-bottom: 24px;

  .icon-day-time {
    font-size: 3.2rem;
  }

  span {
    font-size: 1.4rem;

    &:last-child {
      font-size: 0.8rem;
    }
  }

  span,
  i {
    color: $font-color;
    font-weight: 700;
  }

  .crime-daytime-period {
    font-size: 1rem;
  }

  @media ($mobile-size) {
    .crime-bydaytime-grid {
      justify-content: center;
    }
  }

  @media ($desktop-size) {
    width: auto;

    span {
      font-size: 1.2rem;
    }
  }
}

.crime-data-expand-wrap {
  @media (min-width: 600px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.crime-button-icon-percentage {
  border: 1px solid $gray-color;
  border-radius: 8px;
  margin: 8px 5%;
  padding: 8px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  min-height: 90px;
  align-items: center;
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow;
  }

  @media ($desktop-size) {
    margin: 0;
    margin-bottom: 24px;
    width: 80%;
  }

  .crime-button-icon-percentage-header {
    min-height: 75px;
    width: 80%;
  }

  .crime-button-icon-percentage-text {
    color: $gray-c;
    font-weight: bold;
    font-size: 24px;
  }

  .see-more {
    margin: 10px 15%;
    display: flex;

    span {
      padding: 10px 0;
      border: 1px solid $gray-color;
      border-radius: 6px;
      color: $gray-dark;
      font-weight: bolder;
      width: 100%;
    }
  }
}

.crime-button-icon-percentage-list {
  width: 100%;
  margin-top: 5px;
  list-style: none;
  padding: 0;

  .crime-list-item {
    &:first-child {
      border-top: 1px solid $gray-dark;
      padding-top: 6px;
    }

    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    margin-bottom: 6px;

    .crime-list-item-name {
      font-weight: bolder;
    }

    color: $gray-dark;
  }

  .crime-list-item-noborder {
    &:first-child {
      border: none;
    }
  }
}

.ant-modal-body {
  height: 600px;
  overflow: auto;
}

@media ($mobile-size) {
  .ant-picker-panels {
    flex-direction: column;
  }
}
@media ($mobile-size) {
  .main-grid {
    flex-direction: column-reverse;
  }
}

.crime-load-graph {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 500;
  padding: 0 20px;
}

.mobile-menu-wrapper {
  width: 100vw;
  background-color: white;
  box-shadow: $box-shadow;
  padding: 4px;
  position: sticky;
  z-index: 1100;
  top: 0;

  .filter-menu-button {
    margin: 4px;
    appearance: none;
    border: none;
    background-color: transparent;

    &:active,
    &:focus {
      box-shadow: $box-shadow;
      outline: 1px solid $gray-e;
      border-radius: 4px;
    }

    .material-icons {
      font-size: 2.5rem !important;
    }
  }

  .menu-wrapper,
  .menu {
    transition: width 1s;
  }

  .menu-wrapper {
    z-index: 1099;
    position: fixed;
    top: 0;
    left: 0;

    .menu-wrapper-backdrop {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.15);
    }

    .menu {
      height: 100vh;
      z-index: 1100;
      box-shadow: $box-shadow;
      background: white;
      overflow: hidden;
      position: absolute;
    }
  }

  .menu-open {
    width: 100vw;
    height: 100vh;
    .menu-wrapper-backdrop {
      width: 100vw;
      height: 100vh;
    }
    .menu {
      width: 85%;
    }
  }

  .menu-closed {
    width: 0;
    height: 0;
    .menu-wrapper-backdrop {
      width: 0;
      height: 0;
    }
    .menu {
      width: 0%;
    }
  }
}

.crime-footer {
  width: 100%;
  margin-top: 4rem;
  background-color: $gray-e;
  padding: 40px 20px 10px;
  display: flex;
  flex-wrap: wrap;

  @media ($desktop-size) {
    height: 300px;
    padding: 0 12%;
  }

  .crime-profile-card {
    border: 2px solid $gray-d;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 90%;

    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @media ($desktop-size) {
      margin-bottom: 0;
      width: 45%;
      &:first-child {
        margin-right: 80px;
      }
    }

    .profile-social {
      margin-bottom: 20px;

      @media ($desktop-size) {
        margin-bottom: 0;
      }
    }

    .ant-avatar {
      width: 90px;
      height: 90px;
    }

    .profile-name {
      font-weight: bold;
      font-size: 1.05rem;
      letter-spacing: 1.25px;
      margin: 8px 0;
      color: $gray-e;
    }

    .footer-profile-description {
      letter-spacing: 1.1px;
      text-align: justify;
      color: $gray-dark;
      font-weight: 500;
      margin: 0;
    }

    .icon-button {
      border: none;
      background-color: transparent;
      font-size: 24px;
      margin-right: 5%;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        cursor: pointer;
      }

      &:hover,
      &:active,
      &:focus {
        transform: scale(1.2);
        outline: none;
      }
    }
  }
}
