$box-shadow: 0px 0px 12px 2px rgba(216, 221, 232, 0.75);
$gray-color: #c7cfdf;
$gray-dark: #394b6a;

$font-color: $gray-dark;

$desktop-size: "min-width: 600px";
$mobile-size: "max-width: 600px";

$gray-a: #453b78;
$gray-b: #404782;
$gray-c: #394b6a;
$gray-d: #406982;
$gray-e: #3b7178;
$gray-e-transparent: rgba(59, 113, 120, 0.1);

$gray-a1: #282a40;
$gray-b2: #2f384a;
$gray-c3: #222c32;
$gray-d4: #2f474a;
$gray-e5: #28403c;
